<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>582257432397-frs7otafcr4lj8r857fgsc32h2die3ee.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.582257432397-frs7otafcr4lj8r857fgsc32h2die3ee</string>
	<key>API_KEY</key>
	<string>AIzaSyAHbJVFdAWbgca05qC5hb-_RAYDFuldvgc</string>
	<key>GCM_SENDER_ID</key>
	<string>582257432397</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.dmHelper</string>
	<key>PROJECT_ID</key>
	<string>dmhelper-1aa5d</string>
	<key>STORAGE_BUCKET</key>
	<string>dmhelper-1aa5d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:582257432397:ios:bee8f67e58ed3c33f0c904</string>
</dict>
</plist>